<div class="container">
  {% for block in section.blocks %}
  <div class="prod prod-1 ">
    <a href="{{ block.settings.url }}">
      <div class="img-container">
        <img src="{{ block.settings.prod_img_id | image_url }}" alt="" width="" height="" loading="lazy">
      </div>
      <div>
        <h3>{{ block.settings.prod_heading }}</h3>
        <h5>{{ block.settings.prod_desc }}
        </h5>
        <h6>{{ block.settings.prod_status }}</h6>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{{ 'my_slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'my_slider.js' | asset_url }}" defer></script>
<script src="{{ 'custom.js' | asset_url }}" defer></script>
{% schema %}
{
"name": "Slider Section",
"settings": [

],
"blocks": [
{
"name": "Card",
"type": "Card",
"settings": [
{
"type": "image_picker",
"id": "prod_img_id",
"label": "Select Card Image"
},
{
"type": "text",
"id": "prod_heading",
"label": "Name"
},
{
"type": "text",
"id": "prod_desc",
"label": "Description"
},
{
"type": "text",
"id": "prod_status",
"label": "Status"
},
{
"type": "url",
"id": "url",
"label": "URL"
}
]
}
],
"presets": [
{
"name": "Slider Section",
"category": "Custom"
}
]
}
{% endschema %}